# Environment Settings
ASPNETCORE_ENVIRONMENT=Development

# MariaDB Settings
MARIADB_ROOT_PASSWORD=secret

# Comment Service Database
COMMENT_DB_NAME=commentsdb
COMMENT_DB_CONNECTION_STRING=Server=comment-db;Database=commentsdb;User=root;Password=secret;

# Identity Service Database
IDENTITY_DB_NAME=identitydb
IDENTITY_DB_CONNECTION_STRING=Server=identity-db;Port=3306;Database=identitydb;User=root;Password=secret;

# MongoDB Connections
MONGO_STREAMING_CONNECTION_STRING=mongodb://video-streaming-db:27017
MONGO_VIEWS_CONNECTION_STRING=mongodb://video-views-db:27017
MONGO_METADATA_CONNECTION_STRING=mongodb://video-metadata-db:27017

# RabbitMQ Settings
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_CONNECTION_STRING=rabbitmq

# JWT Settings
JWT_SECRET=super_secret_key_that_is_long_enough_to_be_secure_32bytes
JWT_ISSUER=http://localhost:5000
